<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<div class="header">

    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <center><a class="pure-menu-heading" href="/">Welcome to CultureShoCC'd</a> </center>
        </div><br><br><br><br>

        <center>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/signup" class="pure-menu-link">sign up</a></li>
            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/timeline/Montreal" class="pure-menu-link">Visit Montreal</a></li>
        </ul>
        </center>
    </div>
</div>


</html>